{% extends 'layout.html' %} {% block body %}
<article>
  <h1><i class="fa fa-bookmark-o"></i> CodeMark</h1>
  <a href="/logout">Logout</a>
  <section class="section">

      {% if codes.length > 0 %}
      <h3 class="section-heading">Your saved snippets</h3>
      {%endif%}
      <div class="row">
        {% if codes.length > 0 %}
        <div class="ten columns">
          {% for code in codes %}
          <h4 class="">{{code.title if code.title else "Untitled snippet"}}</h4>
          <h5 class="">Language: {{code.lang}}</h5>
          <pre><code>{{code.code | safe}}</pre></code>
          {% endfor %}
        </div>
        <div class="two columns">
          <h5 class="value-heading">Add More</h5>
          <form method="post" action="/code/add">
            <label for="title">Title: </label>
            <input class="u-full-width" name="title" id="title" placeholder="Cool JSON">
            <label for="newCode">Code</label>
            <textarea class="u-full-width" placeholder="{'codeMark': 'super cool code stuff'}" id="newCode" name="code"></textarea>
            <button class="button-primary" value="Submit" type="submit">Add Code</button>
          </form>
        </div>
        {% else %}
        <div class="column">
          <h4 class="">Uh-oh!</h4>
          <h5 class="">You Don't have any code saved...</h5>
          <p class="">Why not add some below?</p><i class="fa fa-angle-double-down fa-2x"></i>
        </div>
        <form method="post" action="/code/add">
          <label for="newCode">Code</label>
          <textarea class="u-full-width" placeholder="{'codeMark': 'super cool code stuff'}" id="newCode" name="code"></textarea>
          <button class="button-primary" value="Submit" type="submit">Add Code</button>
        </form>
        {% endif %}
      </div>

  </section>
</article>
{% endblock %}
